.hidden {
  display: none;
  visibility: hidden;
}

select.form-control {
  height: 3.75rem;
  padding-top: 1rem;
}

.success-banner.success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  border-radius: 0;
  background: #a1e2b1;
  color: #586174;
  z-index: 10;
  position: relative;
  padding: 1.25rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}
